:root{
    --bs-body-bg: #DADBD3;

}



.container{
    position: relative;
    height: calc(100vh - 30px);
    margin: 15px auto;
    background-color: aliceblue;
}

.container-avatar{
    overflow: hidden;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.container-avatar img{
    width: 100%;
}

.container-svg{  
    border-radius: 50%;
    width: 50px;
    padding: 0.5rem;
}

.bg-head-app{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #009688
}

.bg-whatsapp{
    background-image: url(../../img/mine.jpg);
}
.message-card-text{
    border-radius: 10px;
    min-width: 40%
}

.message-card-text span{
    font-size: 0.6rem;
}
.message-sent{
    background-color: green;
}

.message-received{
    background-color: red;
}

.row > div{
    background-color: #fff;
}