:root{
    --bs-body-bg: #DADBD3;

}



.container{
    position: relative;
    height: calc(100vh - 30px);
    margin: 15px auto;
    background-color: aliceblue;
}

.container-avatar{
    overflow: hidden;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.container-avatar img{
    width: 100%;
}

.container-svg{  
    border-radius: 50%;
    width: 50px;
    padding: 0.5rem;
}

.bg-head-app{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #009688
}

.bg-whatsapp{
    background-image: url(../../img/mine.jpg);
}

.message-send{
    align-items: flex-start
}

.row > div{
    background-color: #fff;
}